Repository SELab-2/UGent-6, pull requests merged in 2024-05, with the labels that each got.

#256 PUT/PATCH/POST routes for test now work with json
  backend/app/src/main/java/com/ugent/pidgeon/controllers/TestController.java
  backend/app/src/main/java/com/ugent/pidgeon/model/json/TestUpdateJson.java
Labels: backend

#265 Submissions geupdated voor nieuwe docker output
  frontend/src/@types/requests.d.ts
  frontend/src/i18n/en/translation.json
  frontend/src/i18n/nl/translation.json
  frontend/src/pages/project/components/SubmissionStatusTag.tsx
  frontend/src/pages/submission/Submission.tsx
  frontend/src/pages/submission/components/SubmissionCard.tsx
  frontend/src/pages/submission/components/SubmissionCardContent.tsx
Labels: frontend

#232 Frontend edit role page
  frontend/src/@types/requests.d.ts
  frontend/src/i18n/en/translation.json
  frontend/src/i18n/nl/translation.json
  frontend/src/pages/editRole/EditRole.tsx
  frontend/src/pages/editRole/components/UserList.tsx
  frontend/src/pages/project/components/SubmissionStatusTag.tsx
  frontend/src/styles.css
Labels: frontend

#272 Feature/no msal react
  .gitignore
  backend/web-bff/App/app.js
  backend/web-bff/App/auth/AuthProvider.js
  backend/web-bff/App/authConfig.js
  backend/web-bff/App/bin/www.js
  backend/web-bff/App/fetch.js
  backend/web-bff/App/package-lock.json
  backend/web-bff/App/package.json
  backend/web-bff/App/routes/api.js
  backend/web-bff/App/routes/auth.js
  backend/web-bff/App/routes/index.js
  backend/web-bff/App/routes/users.js
  backend/web-bff/App/util/isAuthenticated.js
  backend/web-bff/App/views/index.hbs
  backend/web-bff/App/views/layout.hbs
  backend/web-bff/App/views/profile.hbs
  backend/web-bff/App/views/token.hbs
  backend/web-bff/Dockerfile
  backend/web-bff/temp-frontend/.eslintrc.cjs
  backend/web-bff/temp-frontend/.gitignore
  backend/web-bff/temp-frontend/README.md
  backend/web-bff/temp-frontend/index.html
  backend/web-bff/temp-frontend/package-lock.json
  backend/web-bff/temp-frontend/package.json
  backend/web-bff/temp-frontend/public/vite.svg
  backend/web-bff/temp-frontend/src/App.css
  backend/web-bff/temp-frontend/src/App.tsx
  backend/web-bff/temp-frontend/src/assets/react.svg
  backend/web-bff/temp-frontend/src/index.css
  backend/web-bff/temp-frontend/src/main.tsx
  backend/web-bff/temp-frontend/src/vite-env.d.ts
  backend/web-bff/temp-frontend/tsconfig.json
  backend/web-bff/temp-frontend/tsconfig.node.json
  backend/web-bff/temp-frontend/vite.config.ts
  docker-compose.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/@types/appTypes.ts
  frontend/src/@types/requests.d.ts
  frontend/src/App.tsx
  frontend/src/components/layout/nav/AuthNav.tsx
  frontend/src/components/layout/nav/Layout.tsx
  frontend/src/components/layout/nav/UnauthNav.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/index.tsx
  frontend/src/pages/apiTest/ApiTest.tsx
  frontend/src/pages/index/HomeAuthCheck.tsx
  frontend/src/pages/index/landing/LandingPage.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/providers/UserProvider.tsx
  frontend/src/router/AuthenticatedRoute.tsx
  frontend/src/test/pages/home/Home.test.tsx
  frontend/src/util/apiFetch.ts
Labels: frontend

#279 error handling
  .gitignore
  backend/web-bff/App/fetch.js
  backend/web-bff/App/routes/api.js
Labels: backend, frontend
